@import '@wikimedia/codex-design-tokens/theme-wikimedia-ui.css';
@import '@wikimedia/codex/dist/codex.style.css';

.oozeMenuContainer {
  position: fixed;
  bottom: 1rem;
  left: 1rem;

  z-index: 1000;
  display: flex;
  /* Ensure the open/close button always remains at the bottom */
  flex-direction: column-reverse; 
  gap: 1rem;
  align-items: flex-start;
  justify-content: center;
}

/* Slight fade in when .oozeMenu is added to the DOM */
.oozeMenu {
  max-height: 30rem;
  width: 30rem;
  padding: 0 !important;
  display: flex;
  flex-direction: column-reverse;
}

/* On mobile (screen smaller than 650px, ooze menu takes up full screen and flex-direction is column so header is at top */
@media (max-width: 650px) {
  .oozeMenu {
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    max-height: unset;
    max-width: unset;
  }

  /* Hide the container of the button - have to do this due to the VueBridge */
  .oozeMenuContainer div:has(.cdx-toggle-button--toggled-on) {
    display: none;
  }

  /* Ensure it's displayed correctly with no unnecessary gaps */
  .oozeMenuContainer {
    bottom: 0;
    left: 0;
  }

  /* Opens right away */
  .oozeMenuButton {
    position: fixed;
    bottom: 1rem;
    left: 1rem;
  }

  /* No scroll on open dialog */
  body:has(.oozeMenuContainer .cdx-toggle-button--toggled-on) {
    overflow: hidden;
  }
}

.oozeMenuFooter {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--background-color-interactive);
}

.oozeMenuTitle {
  padding: 1rem;
  font-weight: lighter;
}

/* Menu list */

.oozeMenuContent {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

.oozeMenuOption {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  gap: 0.5rem;
  transition: all 0.2s ease-in-out;
}

.oozeMenuOption:hover {
  background-color: var(--background-color-interactive);
}

.oozeButtons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;
}

.oozeCommandPallet {
  font-family: monospace;
}

.oozeCommandPalletError {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.oozeMenuCommandHeader {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  font-weight: lighter;
}

.oozeMenuChips {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  gap: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  overflow-x: hidden;
  /* Nice fade out at end */
  mask-image: linear-gradient(to right, black 90%, transparent);
  mask-position: 100% 0%;
  mask-size: 150% 200%;
  transition: all 0.4s ease-in-out;

  /* A very thin, minimal scroll bar (custom style) */
  scrollbar-width: thin;
  scrollbar-color: var(--background-color-interactive) transparent;
}

/* This gives a nice slide out effect when hovering over the chips */
.oozeMenuChips:hover {
  overflow-x: auto;
  mask-position: 0% 0%;
}

/* All chips, no cursor, no select */
.oozeMenuChips * {
  cursor: default;
  user-select: none;
  transition: all 0.2s ease-in-out;
}

.oozeMenuChips .done {
  background-color: var(--background-color-disabled-subtle);
}

.oozeMenuChips .active {
  border-color: var(--background-color-progressive--focus);
  border-width: 2px;
}