@import '@wikimedia/codex-design-tokens/theme-wikimedia-ui.css';
@import '@wikimedia/codex/dist/codex.style.css';

.oozeMenuContainer {
  position: fixed;
  bottom: 1rem;
  left: 1rem;

  z-index: 1000;
  display: flex;
  /* Ensure the open/close button always remains at the bottom */
  flex-direction: column-reverse;
  gap: 1rem;
  align-items: flex-start;
  justify-content: center;
}

/* Slight fade in when .oozeMenu is added to the DOM */
.oozeMenu {
  max-height: 30rem;
  width: 30rem;
  padding: 0 !important;
  display: flex;
  flex-direction: column-reverse;
}

/* On mobile (screen smaller than 650px, ooze menu takes up full screen and flex-direction is column so header is at top */
@media (max-width: 650px) {
  .oozeMenu {
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    max-height: unset;
    max-width: unset;
  }

  /* Hide the container of the button - have to do this due to the VueBridge */
  .oozeMenuContainer div:has(.cdx-toggle-button--toggled-on) {
    display: none;
  }

  /* Ensure it's displayed correctly with no unnecessary gaps */
  .oozeMenuContainer {
    bottom: 0;
    left: 0;
  }

  /* Opens right away */
  .oozeMenuButton {
    position: fixed;
    bottom: 1rem;
    left: 1rem;
  }

  /* No scroll on open dialog */
  body:has(.oozeMenuContainer .cdx-toggle-button--toggled-on) {
    overflow: hidden;
  }
}

.oozeMenuFooter {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--background-color-interactive);
}

.oozeMenuTitle {
  padding-left: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  font-size: small;
}

/* Menu list */

.oozeMenuContent {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

.oozeMenuOption {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  gap: 0.5rem;
  transition: all 0.2s ease-in-out;
}

.oozeMenuOption:hover {
  background-color: var(--background-color-interactive);
}

.oozeButtons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;
}

.oozeCommandPallet {
  font-family: monospace;
}

.oozeCommandPalletError {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.oozeMenuCommandHeader {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  font-weight: lighter;
}

.oozeMenuChips {
  background-color: white;
  margin-right: 0.25rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  gap: 0.5rem;
  padding-left: 1rem;
  /* Additional right padding for scrolling */
  padding-right: 3rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  overflow-x: hidden;
  /* Nice fade out at end */
  mask-image: linear-gradient(to right, black 90%, transparent);
  mask-position: 100% 0%;
  mask-size: 150% 200%;
  transition: all 0.4s ease-in-out;

  /* A very thin, minimal scroll bar (custom style) */
  scrollbar-width: thin;
  scrollbar-color: var(--background-color-interactive) transparent;
}

/* This gives a nice slide out effect when hovering over the chips */
.oozeMenuChips:hover {
  overflow-x: auto;
  mask-position: 0% 0%;
}

/* All chips, no cursor, no select */
.oozeMenuChips * {
  cursor: default;
  user-select: none;
  transition: all 0.2s ease-in-out;
}

.oozeMenuChips .done {
  background-color: var(--background-color-disabled-subtle);
}

.oozeMenuChips .active {
  border-color: var(--background-color-progressive--focus);
  border-width: 2px;
}

.oozeShortCutHint {
  display: flex;
  gap: 0.5rem;
  padding: 0.5rem;
  flex-wrap: wrap;
}

.oozeShortCutHint * {
  font-size: small;
  font-family: monospace;
}

.oozeShortCutDescription {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.oozeShortCutDesc {
  font-weight: bold;
}

/* Loading fade in and out */

@keyframes loadFadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.oozeShortCutHintLoading {
  /* Infinite loop animation */
  animation: loadFadeIn 0.5s infinite linear alternate;
}

.oozeShortCutHintError {
  color: red;
}

.oozeShortCutHelper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 0.5rem;
}

.oozeUserFilterCreatorTip {
  font-size: x-small;
}

.oozeUserFilterCreatorItem, .oozeUserFilterCreatorItem * {
  font-size: small;
  display: flex;
  flex-direction: row;
  gap: 1em;
  align-items: center;
}i

.oozeUserFilterCreatorFilter {
  display: flex;
  flex-direction: row;
  gap: 1em;
  align-items: center;
}

.oozeUserFilterCreatorGroup {
  display: flex;
  flex-direction: row;
  gap: 1em;
  font-size: small;
  flex-wrap: wrap;
}

.oozeMultipleChoiceSelect {
  display: flex;
  gap: 1em;
  flex-wrap: wrap;
}

.oozeCustomisedValue {
  font-weight: bolder;
  background: linear-gradient(to right, #8360c3, #2ebf91);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.oozeUserSearchResults {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  padding: 0.5rem;
  overflow-y: auto;
  max-height: 20rem;

  /* White fade out at bottom */
  mask-image: linear-gradient(to bottom, white 90%, transparent);
}

.oozeUserSearchResult {
  display: flex;
  flex-direction: row;
  gap: 0.5em;
  align-items: center;
  justify-content: left;
  flex-wrap: wrap;
  padding: 0.5rem;

  /* Black line at bottom */
  border-bottom: 1px solid var(--background-color-interactive);
}

/* On result hover change background */
.oozeUserSearchResult:hover {
  background-color: var(--background-color-interactive);
}

/* First search result is what will be sent on tab - highlight with --background-color-progressive */
.oozeUserSearchResult:first-child {
  border: 2px solid var(--background-color-progressive);
}

.oozeUserSearchResultName {
  font-weight: lighter;
  font-size: large;
}

.oozeUserSearchResultEditCount {
  font-size: small;
}

/* Edit count - before add EC */
.oozeUserSearchResultEditCount::before {
  content: 'EC: ';
  color: purple;
}

.oozeUserSearchResultBlock {
  font-size: small;
  color: red;
  font-weight: lighter;
}

.oozeUserSearchResultBlockExtra {
  font-size: small;
  font-weight: lighter;
}

/* If more than one extra, add bullet point first */
.oozeUserSearchResultBlockExtra::before {
  content: '• ';
  color: red;
}

.oozeUserSearchBlockReason {
  font-size: small;
  font-weight: lighter;

  /* Clamp to 2 lines */
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

/* On hover, unclamp */
.oozeUserSearchResult:hover .oozeUserSearchBlockReason {
  -webkit-line-clamp: unset;
}

/* Before, text, block reason */
.oozeUserSearchBlockReason::before {
  content: 'Reason: ';
  color: red;
}