@import '@wikimedia/codex-design-tokens/theme-wikimedia-ui.css';
@import '@wikimedia/codex/dist/codex.style.css';

.oozeMenu {
  position: fixed;
  bottom: 1rem;
  left: 1rem;

  z-index: 1000;
  display: flex;
  /* Ensure the open/close button always remains at the bottom */
  flex-direction: column-reverse; 
  gap: 1rem;
  align-items: center;
  justify-content: center;
}